{% extends "pace/base.html" %}
{% block content %}
  <h1 class="session-title">Your Sessions</h1>
{% for session in session_list %}
<div class="session-card">
  <h2>Session for: {{ session.date }}</h2>
  {% include "pace/activity_list.html" with activity_list=session.activity_set.all %}
  <a href="{% url 'pace:add_activity' pk=session.pk %}"><button class="add-activity-button">+ Add Activity</button></a>
</div>
{% endfor %}
  <a href="{% url 'pace:add_session' %}"><button class="add-session-button">+ Add Session</button></a>
{% endblock %}